.searchInput {
  background: #0c0d0d;
  padding: 15px 30px;
  width: 295px;
  height: 50px;
}
.dateInput {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
}

.t-input {
  width: 100%;
  padding: 12px 18px;
  border-radius: 30px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  color: var(--white);
  transition: border-color 0.3s ease;
  font-size: 12px;
}

.t-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(250, 250, 250, 0.4);
  pointer-events: none;
  transition: color 0.3s ease;
}

.t-input-wrapper {
  position: relative;
}

.t-input:hover,
.t-input:focus {
  border-color: var(--hover-green);
  outline: none;
}

.t-input-wrapper:hover .t-icon,
.t-input-wrapper:focus-within .t-icon {
  color: var(--hover-green);
}
